@import "bootstrap-icons/font/bootstrap-icons.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #022b41;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  min-width: 100%;
  max-width: 1200px;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}
#app {
  height: 100dvh;
  width: 100%;
}
.header {
  background-color: #022b41;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 60%;
  box-sizing: border-box;
}
.nav_and_logo {
  hr {
    color: #e5e5e5;
    margin: 0 1.5rem;
  }
  img {
    height: auto;
    width: 50px;
  }
  nav {
    display: flex;
    align-items: center;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    font-weight: 600;
  }
  li:hover {
    cursor: pointer;
  }
}

.primary {
  display: inline-block;
  height: 40px;
  min-width: 120px;
  background-color: #ffffff;
  color: #022b41;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  padding: 8px 1rem;
  cursor: pointer;
}
.secondary {
  display: inline-block;
  height: 40px;
  min-width: 120px;
  background-color: transparent;
  color: #022b41;
  font-size: 14px;
  font-weight: 600;
  border: 1.5px solid #022b41;
  border-radius: 50px;
  padding: 8px 1rem;
  cursor: pointer;
}
.hamburger {
  display: inline-block;
  background-color: #022b41;
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.hero {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #022b41;
  padding: 0 1rem;
  overflow: scroll;
  .left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        height: auto;
        max-width: 205px;
        font-weight: 400;
        margin-bottom: 1rem;
      }
      h2 {
        text-align: center;
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      p {
        text-align: center;
      }
      button {
        margin-top: 1rem;
        background-color: #022b41;
        color: #ffffff;
      }
    }
  }
  .right {
    height: 500px;
    /* width: 100%; */
    background-color: #022b41;
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    button {
      color: #ffffff;
      border-color: #ffffff;
    }
    .centered {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    form {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      input,
      textarea {
        width: auto;
        height: 50px;
        font-size: 14px;

        color: #ffffff;
        background-color: transparent;
        border: 1.5px solid #ccc;
        border-radius: 4px;
        padding-left: 1rem;
      }
      input:focus,
      textarea:focus {
        border-color: #7a7a7a;
      }
      input::placeholder,
      textarea::placeholder {
        color: #ccc;
        font-weight: 600;
      }
      textarea {
        height: 120px;
        resize: none;
        font-family: Helvetica, sans-serif;
        padding-top: 1rem;
      }
      button {
        background-color: #ffffff;
        color: #022b41;
      }
    }
  }
}
.footer {
  background-color: #022b41;
  color: #ffffff;
  padding: 2rem 1rem;
  .footer-content {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .footer-description {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      p {
        text-align: center;
      }
    }
    .footer-links {
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      li {
        list-style: none;
      }
      a {
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
      }
      i {
        font-size: 2rem;
      }
    }
  }
}
/* show and hide navigation mobile */
.header {
  display: none;
}
.header.show {
  display: block;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .header {
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    color: #022b41;
    position: relative;
    margin: 1rem 0;
    padding: 0 5rem;
    .nav_and_logo {
      display: flex;
      nav ul {
        display: flex;
        gap: 1rem;
      }
    }
    button {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  .hero {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #022b41;
    color: #ffffff;
    padding: 0;
    overflow: auto;
    .left {
      height: 100%;
      max-height: 800px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 150px;
      align-items: flex-start;
      padding-left: 5rem;
      .top {
        max-width: 500px;
        margin: 0;
        align-items: flex-start;
        button {
          max-width: 35%;
          height: auto;
          font-size: 12px;
          color: #ffffff;
          border: 1.5px solid #ffffff;
        }
        h2 {
          font-size: 48px;
          line-height: 60px;
          margin: 0;
          margin-top: 1rem;
          text-align: left;
        }
        span {
          text-decoration: underline;
          text-decoration-color: #0496fb;
          text-underline-offset: 12px;
        }
      }
      .bottom {
        max-width: 500px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin: 0;
        border-top: 1px solid #194560;
        p {
          font-weight: 500;
          font-size: 20px;
          text-align: left;
        }
        button {
          display: flex;
          align-items: center;
          gap: 8px;
          background-color: #ffffff;
          color: #022b41;
        }
      }
    }
    .right {
      height: 100vh;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("./public/office.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 0;
      margin: 0;
      .centered {
        height: auto;
        max-height: 500px;
        width: 70%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 2rem 1.5rem;
        button {
          color: #022b41;
          border-color: #022b41;
        }
        h2 {
          color: #022b41;
          padding: 1rem 0;
        }
        .consultation {
          width: 210px;
          height: auto;
          font-size: 12px;
        }
        form {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: space-between;
          div {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            gap: 4px;
            input {
              max-width: 170px;
            }
          }
          input,
          textarea {
            color: #022b41;
          }
          input:focus,
          textarea:focus {
            border-color: #022b41;
          }
          input::placeholder,
          textarea::placeholder {
            color: #022b41;
          }
          button {
            height: 48px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 600;
            border-color: #022b41;
          }
        }
      }
    }
  }
  .footer {
    height: auto;
    background-color: #ffffff;
    font-weight: 600;
    color: #022b41;
    padding: 2rem 5rem;
    .footer-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 5rem;
      .footer-description{
        max-width: 500px;
      }
      .footer-links {
        min-width: 400px;
        justify-content: space-between;
        li {
          background-color: #194560;
          padding: 8px;
          border-radius: 4px;
        }
      }
    }
  }
}
